.dropdown-enter {
  max-height: 0px;
  overflow: hidden;
}

.dropdown-enter.dropdown-enter-active {
  max-height: 100px;
  transition: max-height 1s ease;
}

.dropdown-leave {
  max-height: 100px;
}

.dropdown-leave.dropdown-leave-active {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1s ease;
}

.dropdown-appear {
  max-height: 0px;
  overflow: hidden;
}

.dropdown-appear.dropdown-appear-active {
  max-height: 100px;
  transition: max-height 1s ease;
}
