files:
  "/etc/rc.d/init.d/seoserver":
    mode: "000755"
    group: "root"
    owner: "root"
    content: |
      #! /bin/sh
      # chkconfig: - 80 20
      # description: Starts the seoserver
      start() {
          echo "Starting seoserver"
          nohup seoserver -p 4000 start > /var/log/seoserver.log 2>&1 &
      }
      stop() {
        echo "Stopping seoserver"
        kill $(ps aux | grep -e "/[u]sr/bin/seoserver"| awk '{ print $2 }')
        kill $(ps aux | grep -e "/[s]eoserver/bin"| awk '{ print $2 }')
      }
      case "$1" in
        start)
          stop
          start
          ;;
        stop)
          stop
          ;;
        *)
          echo "Usage: /etc/init.d/seoserver {start|stop}"
          exit 1
          ;;
      esac
      exit 0    
    