commands:
  010_yum_epel:
    command: "yum-config-manager --enable epel"
  011_yum_nmp:
    command: "yum -y --nogpgcheck install npm"
    test: "test ! -f /var/tmp/npm.installed"
  012_npm_installed:
     command: "touch /var/tmp/npm.installed"
    
  020_nmp_phantomjs:
    command: "npm install -g phantomjs-prebuilt@2.1.7"
    test: "test ! -f /var/tmp/phantomjs.installed"
  021_nmp_phantomjs_installed:
    command: "touch /var/tmp/phantomjs.installed"
       
  030_npm_seoserver:
    command: "npm install -g seoserver@1.1.6"
    test: "test ! -f /var/tmp/seoserver.installed"
  031_nmp_seoserver_installed:
    command: "touch /var/tmp/seoserver.installed"   
    


    