.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: none;
  padding: 1px 5px 3px;
}

.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  padding-left: 0px;
  padding-right: 10px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}
