.Multi > .Select-control {
  line-height: 20px !important;
  height: 20px !important;
}

.Multi > .Select-control .Select-value, .Multi > .Select-control .Select-placeholder {
  line-height: 20px !important;
  padding-left: 10px;
}

.Multi > .Select-control .Select-input {
  height: 20px !important;
  padding-left: 10px;
}
