/*
 * Global stylesheet
 * Overrides some resetted (see ./reset.css) default browser styles to reduce
 * CSS code throughout the rest of the codebase.
 */

* {
  /* Best practice, see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  /* We do not want to render buttons as we know them from Windows 95 ;)
     So, we undress button tags from their default styles. */
  background: none;
  border: 0;
  outline: 0;
  box-shadow: none;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* Base styles */

html, body {
  height: 100%;
}
